<article class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-6">Country: {{ rocket.country }}</p>
        <p class="subtitle is-6">Company: {{ rocket.company }}</p>
        <p class="subtitle is-6">
          Height: {{ rocket.height.meters }} meters /
          {{ rocket.height.feet }} feet
        </p>
        <p class="subtitle is-6">
          Diameter: {{ rocket.diameter.meters }} meters /
          {{ rocket.diameter.feet }} feet
        </p>
        <p class="subtitle is-6">
          Mass: {{ rocket.mass.kg }} kg / {{ rocket.mass.lb }} lb
        </p>
      </div>
    </div>
  </div>
</article>
